main{
  min-height:calc(100vh - 21.2rem);
  background: #1A1A1A;
}

.container{
  margin: 0 auto;
  width: 73.6rem;

  display:flex;
  flex-direction: column;
  align-items:center;

}

.inputContainer{
  display:flex;
  gap:1rem;

  margin-top:-2.8rem;

  margin-bottom:6.4rem;
}

.container input{
  width: 63rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 8px;

  height: 5.4rem;

  background: #262626;

  border: 1px solid #0D0D0D;
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 1;
}

.container button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  gap: .8rem;

  width: 9rem;
  height: 5.2rem;

  background: #1E6F9F;
  border-radius: 8px;
  border:none;

  flex: none;
  order: 1;
  flex-grow: 0;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 140%;

  color: #F2F2F2;

  cursor:pointer;

}

.containerTasks{
  width:100%;
}

.containerTaskTracker{
  width:100%;

  display:flex;
  justify-content:space-between;

  border-bottom: 1px solid hsla(0, 0%, 20%, 1);
  
  padding-bottom:2.6rem;
}

.containerTasksCreated{
  display:flex;
  align-items:center;
  gap:2rem;
}

.containerTasksCreated strong{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;

  color: #4EA8DE;

}

.containerTasksConcluded{
  display:flex;
  align-items:center;
  gap:2rem;
}

.containerTasksConcluded strong{
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;

  color: #8284FA;
}

.containerTaskCount{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .2rem .8rem;
  gap: 1rem;

  width: 2.5rem;
  height: 1.9rem;

  background: #333333;
  border-radius: 999px;

  color: hsla(0, 0%, 85%, 1);

  font-weight: 700;

}